Ruby gem command install does not find zlib - Launchpad ... https://answers.launchpad.net/ubuntu/+source/rubygems/+.../213446 Nov 6, 2012 - gem install rails. ERROR: Loading command: install (LoadError) cannot load such file -- zlib. ERROR: While executing gem ... (NameError)
